@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-decoration: none !important;
  color: inherit !important;
}